* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(90deg, #121212, #000000);
}

.app-inner-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.app-column {
  box-sizing: border-box;
  height: 100%;
}

.app-column-1 {
  flex: 0 0 25%;
  padding: 20px;
  background: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.app-column-2 {
  flex: 0 0 30%;
  padding: 20px;
  background: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-column-2 .app-tabs-container {
  flex-shrink: 0;

}

.app-column-2 .app-songs-container {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;

  -ms-overflow-style: none;

}

.app-column-2 .app-songs-container::-webkit-scrollbar {
  display: none;
 
}

.app-column-3 {
  margin-left: 100px;
  margin-top: 58px;
  padding: 20px;
  background: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-logo-container img {
  width: 150px;
  filter: invert(2) brightness(32.5);
}

.app-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.app-login-button {
  width: 50px; 
  height: 50px; 
  border: none;
  background: url('login.jpg') no-repeat center center;
  background-size: 70px;
  border-radius: 50%; 
  cursor: pointer; 
}

.app-songs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.app-song.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-cover-image-info {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.app-song-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 10px;
}

.app-song-name {
  color: white;
  margin: 0px;
}

.app-song-artist {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin: 0px;
}

.app-song-duration {
  color: white;
  font-size: 14px;
}
.cover-image-container {
  width: 400px;
  position: 400px;
}

.app-cover-image {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;

}

.app-song-title {
  font-size: 24px;
  margin: 0;
  color: white;
  font-weight: 700;
}

.app-song-artist1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin-bottom: 35px;
  margin-top: 2px;
  font-weight: 400;
}

.app-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.app-controls button {
  border: none;
  background: none;
  margin: 0 5px;
  cursor: pointer;
  font-size: 30px;
}

.app-controls .app-clo1,
.app-controls .app-clo3 {
  background-color: #D3D3D3;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-controls .app-clo2 {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.app-controls button svg {
  color: black;
  font-size: 20px;
}

.app-controls button:nth-child(2),
.app-controls button:nth-child(4) {
  background: none;
  padding: 0;
  filter: invert(1);
}

.app-duration-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}

.app-current-time,
.app-duration {
  color: white;
  font-size: 14px;
  margin: 0 10px;
}

.app-seeker {
  width: 400px;
  max-width: 400px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #FFFFFF14;
  border: none;
  color: white;
}

.search-input::placeholder {
  color: #FFFFFF;
}

.search-icon {
  position: absolute;
  right: 10px;
  filter: invert(1);
  width: 20px;
  height: 20px;
  top: 6px;
}

.tabs {
  display: flex;
  padding: 10px 0;
}

.tabs button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  font-size: 1.2rem;
}

.tabs .active {
  font-weight: bold;
}

.app-clo3 {
  right: 20px;
  position: absolute;
  filter: invert(1);
}

.app-clo1 {
  left: 15px;
  position: absolute;
  margin: 20px;
  filter: invert(1);
}

.app-clo2 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .app {
    flex-direction: row;
  }

  .app-inner-container {
    flex-direction: row;
  }

  .app-column-1 {
    flex: 0 0 25%;
  }

  .app-column-2 {
    flex: 0 0 30%;
  }
}

@media (max-width: 767px) {
  .app-column-1,
  .app-column-2,
  .app-column-3 {
    flex: 1;
    margin: 0;
    padding: 10px;
  }

  .app-column-1,
  .app-column-3 {
    display: none;
  }

  .app-column-2 {
    flex: 1;
    padding: 10px;
  }

  .app-controls button {
    font-size: 24px;
  }

  .app-cover-image {
    width: 400px;
    height: 400px;
   
  
  }

  .app-duration-container {
    display: flex;
    align-items: center;
    width: 400px;
    max-width: 400px;
    margin-top: 10px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .app-current-time,
  .app-duration {
    color: white;
    font-size: 14px;
    margin: 0 10px;
    white-space: nowrap;
  }

  .app-seeker {
    width: 400px;
    max-width: 400px;
  }
}
